/* Automatisch gegenereerd door matugen. Pas dit bestand NIET aan. */
:root {
  --primary:            #a9cdd6;
  --on-primary:         #10353c;
  --primary-container:  #3c5e66;
  --secondary:          #bbc9cd;
  --on-secondary:       #263236;
  --error:              #ffb4ab;
  --background:         #121414;
  --on-background:      #e3e2e2;
  --surface:            #121414;
  --on-surface:         #e3e2e2;
  --surface-variant:    #41484a;
  --on-surface-variant: #c1c8ca;
  --outline:            #8b9294;
  --outline-variant:    #41484a;
  --text:               #e3e2e2;
  --subtext0:           #c1c8ca;
  --surface0:           #121414;
  --surface1:           #41484a;
  --base:               #121414;
  --mantle:             #000000;
  --crust:              #000000;
  --green:              #eabe9c;
  --yellow:             #ffffff;
  --red:                #ffb4ab;
  --mauve:              #bbc9cd;
  --blue:               #a9cdd6;
  --sky:                #735237;
}
