* {
  font-family: "Nunito", "JetBrainsMono Nerd Font", sans-serif;
  font-size: 13px;
}

.control-center {
  background: alpha(@mantle, 0.892);
  border: 1px solid alpha(@outline, 0.22);
  border-radius: 22px;
  box-shadow: 0 18px 52px alpha(@crust, 0.28);
  padding: 15px;
}

.widget-title > button,
.widget-dnd,
.notification,
.widget-mpris-player,
.notification-action {
  border-radius: 18px;
}

.widget-title > button,
.widget-dnd,
.widget-mpris-player,
.notification {
  background: alpha(@surface0, 0.884);
}

.notification {
  border: 1px solid alpha(@outline-variant, 0.22);
}

.app-name,
.summary {
  font-family: "Nunito", sans-serif;
}

.body,
.time {
  font-family: "Nunito", sans-serif;
}
