/* Automatisch gegenereerd door matugen. Pas dit bestand NIET aan. */
:root {
  --primary:         #a9cdd6;
  --secondary:       #bbc9cd;
  --error:           #ffb4ab;
  --background:      #121414;
  --surface:         #121414;
  --surface-variant: #41484a;
  --on-surface:      #e3e2e2;
  --outline:         #8b9294;
  --text:            #e3e2e2;
  --subtext:         #c1c8ca;
  --base:            #121414;
  --mantle:          #000000;
  --crust:           #000000;
}
